<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="adminblogstyle.css">
<title>Write Blog</title>
</head>
<body>
 
                



                <div class="container" id="con">  
                        <form id="contact" action="" method="post">
                          <h3>Write Blog</h3>
                          <h4>Only admin can write blog</h4>
                          <fieldset>
                            <input placeholder="Blog Title" type="text" tabindex="1" required autofocus>
                          </fieldset>
                          
                          <fieldset>
                            <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
                          </fieldset>
                          <fieldset>
                            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Post</button>
                          </fieldset>
                        </form>
                       
                        
                      </div>

                      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>